<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692539061467-vmjrj57jp6cem8sjqedou830rv8erldg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692539061467-vmjrj57jp6cem8sjqedou830rv8erldg</string>
	<key>API_KEY</key>
	<string>AIzaSyC8crUAmOLlg8qUMQ4J0Wa8oJyidaHpF-k</string>
	<key>GCM_SENDER_ID</key>
	<string>692539061467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiwicity.app</string>
	<key>PROJECT_ID</key>
	<string>kiwi-scooter</string>
	<key>STORAGE_BUCKET</key>
	<string>kiwi-scooter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692539061467:ios:02b3d6560891d87bc788fe</string>
	<key>DATABASE_URL</key>
	<string>https://kiwi-scooter-default-rtdb.firebaseio.com</string>
</dict>
</plist>