<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257318589642-vr5ip1n6hi12l743elr4239bn4lpmq7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257318589642-vr5ip1n6hi12l743elr4239bn4lpmq7v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>257318589642-38mk0ij66sqh5nj4qhispojesucf0f2q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZJQYQbQzdZ95_jN8bE41GZq9I_9jNU7w</string>
	<key>GCM_SENDER_ID</key>
	<string>257318589642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiwicity.lv</string>
	<key>PROJECT_ID</key>
	<string>ride-move</string>
	<key>STORAGE_BUCKET</key>
	<string>ride-move.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257318589642:ios:7d60dd81f3b76f7f235033</string>
	<key>DATABASE_URL</key>
	<string>https://ride-move-default-rtdb.firebaseio.com</string>
</dict>
</plist>